<a href="https://colab.research.google.com/github/pomegranate02/UTSPAN-Sports-Analysis-Project/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np

In [27]:
import pandas as pd

In [36]:
link3 = "https://raw.githubusercontent.com/pomegranate02/Sports-Analysis-/main/Datasets/matches.csv"

In [37]:
dataset3 = pd.read_csv(link3)

In [41]:
link_u = 'https://raw.githubusercontent.com/pomegranate02/UTSPAN-Sports-Analysis-Project/main/Datasets/Deliveries%20IPL%202008-2019.csv'

In [42]:
data1 = pd.read_csv(link_u)

In [43]:
link_r = 'https://raw.githubusercontent.com/pomegranate02/UTSPAN-Sports-Analysis-Project/main/Datasets/Deliveries%20IPL%202020.csv'
data2 = pd.read_csv(link_r)

In [44]:
data1.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [45]:
data2.head()

   match_id  inning batting_team  ... player_dismissed  dismissal_kind  fielder
0   1216492       1           MI  ...              NaN             NaN      NaN
1   1216492       1           MI  ...              NaN             NaN      NaN
2   1216492       1           MI  ...              NaN             NaN      NaN
3   1216492       1           MI  ...              NaN             NaN      NaN
4   1216492       1           MI  ...              NaN             NaN      NaN

[5 rows x 21 columns]

In [46]:
frames = [data1, data2]

In [47]:
new_dataset = pd.concat(frames)

In [48]:
new_dataset.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [49]:
new_dataset.tail()

       match_id  inning batting_team  ... player_dismissed  dismissal_kind    fielder
14321   1237181       2           MI  ...              NaN             NaN        NaN
14322   1237181       2           MI  ...              NaN             NaN        NaN
14323   1237181       2           MI  ...              NaN             NaN        NaN
14324   1237181       2           MI  ...        HH Pandya          caught  AM Rahane
14325   1237181       2           MI  ...              NaN             NaN        NaN

[5 rows x 21 columns]

In [50]:
dataset3.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [54]:
def chasing(row):
  if row['toss_decision'] == "field":
    return row['toss_winner']
  
  if row['toss_decision'] == 'bat':
    if row['team1'] == row['toss_winner']:
      return row['team2']

    else:
      return row['team1']

In [57]:
dataset3.apply(lambda row: chasing(row), axis = 1)

0      Royal Challengers Bangalore
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4                 Delhi Daredevils
                  ...
751                 Mumbai Indians
752                 Mumbai Indians
753                 Delhi Capitals
754            Chennai Super Kings
755            Chennai Super Kings
Length: 756, dtype: object

In [61]:
dataset3['chasing_team'] = dataset3.apply(lambda row: chasing(row), axis = 1)

In [62]:
dataset3.head()

   id  season  ...                chaseing_team                 chasing_team
0   1    2017  ...  Royal Challengers Bangalore  Royal Challengers Bangalore
1   2    2017  ...       Rising Pune Supergiant       Rising Pune Supergiant
2   3    2017  ...        Kolkata Knight Riders        Kolkata Knight Riders
3   4    2017  ...              Kings XI Punjab              Kings XI Punjab
4   5    2017  ...             Delhi Daredevils             Delhi Daredevils

[5 rows x 20 columns]

In [64]:
dataset3.drop(["chaseing_team"], axis = 1)

        id  season  ...                  umpire3                 chasing_team
0        1    2017  ...                      NaN  Royal Challengers Bangalore
1        2    2017  ...                      NaN       Rising Pune Supergiant
2        3    2017  ...                      NaN        Kolkata Knight Riders
3        4    2017  ...                      NaN              Kings XI Punjab
4        5    2017  ...                      NaN             Delhi Daredevils
..     ...     ...  ...                      ...                          ...
751  11347    2019  ...                   S Ravi               Mumbai Indians
752  11412    2019  ...                Ian Gould               Mumbai Indians
753  11413    2019  ...                      NaN               Delhi Capitals
754  11414    2019  ...  Chettithody Shamshuddin          Chennai Super Kings
755  11415    2019  ...              Nigel Llong          Chennai Super Kings

[756 rows x 19 columns]

In [66]:
def chasing_win(row):
    return row["chasing_team"] == row["winner"]

In [67]:
dataset3.apply(lambda row: chasing_win(row), axis=1)

0      False
1       True
2       True
3       True
4      False
       ...
751     True
752     True
753     True
754     True
755    False
Length: 756, dtype: bool

In [69]:
dataset3["chasing_win"] = dataset3.apply(lambda row: chasing_win(row), axis=1)

In [70]:
dataset3["chasing_team"].value_counts()

Kolkata Knight Riders          95
Royal Challengers Bangalore    95
Delhi Daredevils               89
Mumbai Indians                 86
Kings XI Punjab                85
Rajasthan Royals               80
Chennai Super Kings            75
Sunrisers Hyderabad            45
Deccan Chargers                32
Pune Warriors                  26
Gujarat Lions                  16
Delhi Capitals                 10
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: chasing_team, dtype: int64

In [78]:
dataset3[["chasing_team","chasing_win"]].groupby("chasing_team").sum("chasing_win")

                             chasing_win
chasing_team
Chennai Super Kings                   49
Deccan Chargers                       11
Delhi Capitals                         7
Delhi Daredevils                      42
Gujarat Lions                         12
Kings XI Punjab                       44
Kochi Tuskers Kerala                   4
Kolkata Knight Riders                 58
Mumbai Indians                        51
Pune Warriors                          6
Rajasthan Royals                      46
Rising Pune Supergiant                 5
Rising Pune Supergiants                5
Royal Challengers Bangalore           49
Sunrisers Hyderabad                   28

In [81]:
question1 = dataset3[["chasing_team","chasing_win"]].groupby("chasing_team").agg({'chasing_team':'count',
                                                                      'chasing_win': 'sum'})

In [83]:
question1

                             chasing_team  chasing_win
chasing_team
Chennai Super Kings                    75           49
Deccan Chargers                        32           11
Delhi Capitals                         10            7
Delhi Daredevils                       89           42
Gujarat Lions                          16           12
Kings XI Punjab                        85           44
Kochi Tuskers Kerala                    7            4
Kolkata Knight Riders                  95           58
Mumbai Indians                         86           51
Pune Warriors                          26            6
Rajasthan Royals                       80           46
Rising Pune Supergiant                  8            5
Rising Pune Supergiants                 7            5
Royal Challengers Bangalore            95           49
Sunrisers Hyderabad                    45           28

In [85]:
question1.to_csv('new.csv')

In [90]:
from google.colab import drive
from google.colab import files

In [87]:
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [88]:
question1.to_csv('new.csv')

In [91]:
files.download('new.csv')

In [93]:
question1 = question1.rename(columns = {'chasing_team': 'total_chases', 'chasing_win': 'totalwins'}, inplace = False)

In [94]:
question1

                             total_chases  totalwins
chasing_team
Chennai Super Kings                    75         49
Deccan Chargers                        32         11
Delhi Capitals                         10          7
Delhi Daredevils                       89         42
Gujarat Lions                          16         12
Kings XI Punjab                        85         44
Kochi Tuskers Kerala                    7          4
Kolkata Knight Riders                  95         58
Mumbai Indians                         86         51
Pune Warriors                          26          6
Rajasthan Royals                       80         46
Rising Pune Supergiant                  8          5
Rising Pune Supergiants                 7          5
Royal Challengers Bangalore            95         49
Sunrisers Hyderabad                    45         28

In [96]:
question1.apply(lambda row: row['totalwins']/row["total_chases"]*100, axis = 1)

chasing_team
Chennai Super Kings            65.333333
Deccan Chargers                34.375000
Delhi Capitals                 70.000000
Delhi Daredevils               47.191011
Gujarat Lions                  75.000000
Kings XI Punjab                51.764706
Kochi Tuskers Kerala           57.142857
Kolkata Knight Riders          61.052632
Mumbai Indians                 59.302326
Pune Warriors                  23.076923
Rajasthan Royals               57.500000
Rising Pune Supergiant         62.500000
Rising Pune Supergiants        71.428571
Royal Challengers Bangalore    51.578947
Sunrisers Hyderabad            62.222222
dtype: float64

In [97]:
question1["percentage wins"] = question1.apply(lambda row: row['totalwins']/row["total_chases"]*100, axis = 1)

In [98]:
question1

                             total_chases  totalwins  percentage wins
chasing_team
Chennai Super Kings                    75         49        65.333333
Deccan Chargers                        32         11        34.375000
Delhi Capitals                         10          7        70.000000
Delhi Daredevils                       89         42        47.191011
Gujarat Lions                          16         12        75.000000
Kings XI Punjab                        85         44        51.764706
Kochi Tuskers Kerala                    7          4        57.142857
Kolkata Knight Riders                  95         58        61.052632
Mumbai Indians                         86         51        59.302326
Pune Warriors                          26          6        23.076923
Rajasthan Royals                       80         46        57.500000
Rising Pune Supergiant                  8          5        62.500000
Rising Pune Supergiants                 7          5        71.428571
Royal Challengers Bangalore            95         49        51.578947
Sunrisers Hyderabad                    45         28        62.222222

In [100]:
question1["percentage wins"].max()

75.0